.detail {
    background-color: lightgray;
    border-radius: 1rem;
    padding-bottom: 1.5rem;
}

.detail img {
    width: 100%;
    height: 45vh;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.detail a {
    text-decoration: none;
    color: darkgreen;
}

.detail p {
    line-height: 1.2;
    margin-top: 1rem;
}

.subDetail {
    padding: 1rem 1rem 0 1rem;
}

.btn {
    width: 30%;
    padding: 0.2rem;
    background: skyblue;
    border-radius: 0.3rem;
    border: 1px solid black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    line-height: 1.2;
}

@media(min-width: 768px) {
    .btn {
        line-height: 1.8;
    }

    .detail img {
        height: 250px;
    }

   .btn:hover {
    background-color: blue;
    border: 1px solid darkblue;
    color: white;
   } 
}