.showDetail {
    width: 90%;
    margin: auto;
    text-align: center; 
    padding-top: 2rem;
    padding-bottom: 2rem;
} 

.showDetail p {
    line-height: 1.5;
}

.showDetail h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.showDetail img {
    width: 100%;
    height: 30vh;
    border-radius: 1rem;
}

.linkBtn {
    background: darkblue;
    border-radius: 0.3rem;
    line-height: 1.2;
    width: 50%;
    padding: 0.5rem;
    border: none;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.linkBtn a {
    text-decoration: none;
    color: white;
}

@media(min-width: 768px) {
    .showDetail {
        width: 60%;
        margin: auto;
    }

    .showDetail img {
        width: 100%;
        height: 60vh;
        border-radius: 1rem;
    }
}