* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show-data {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.datas-list {
  background-color: yellowgreen;
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  text-align: center;
  list-style: none;
}

.datas-list img {
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.mapped-text {
  width: 100%;
  padding: 1.3rem;
}

.mapped-text h1 {
  color: green;
}

.mapped-text p {
  font-size: 1.5rem;
  color: whitesmoke;
  padding-top: 0.8rem;
}

.show-container {
  background-color: #03d5ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center {
  background: white;
  border-radius: 1rem;
  width: 80%;
  margin: auto;
  padding: 2rem;
  line-height: 2;
}

.show-container h1 {
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
}


@media(min-width: 768px) {
  .show-data {
    max-width: 90rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }

  .datas-list img {
    height: 90vh;
  }

  .mapped-text p {
    font-size: 1.2rem;
  }
}
